html, body {
  background-color: cadetblue;
}

.navbar {
  font-size: x-large;
  
  
  /* border-bottom-color: white; */


}

small {

  font-style: italic;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2 , auto);
  gap: 10px;
  margin: 20px 0;
}

#controls {
  /* margin: 20px 0; */
  padding-bottom: 20px;

}
.hide {
  display: none;
}